@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --accent: #9333ea;
  /* purple-600 */
}

/* smooth scroll */
html {
  scroll-behavior: smooth;
}


@utility bg-grid {
  background-size: 100px 100px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.02) 0.5px, transparent 0.5px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 0.5px, transparent 0.5px);
  background-attachment: fixed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-grid;
}